:root {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Lucida Grande", Arial, "Ubuntu", "Cantarell", "Fira Sans", sans-serif;
  color: var(--primary);
  line-height: 1.5;
  font-weight: 400;

  -webkit-user-select: none;
  --app-background-stripe: #00a884;
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";

  --primary: #3b4a54;
  --WDS-app-wash: #dbd8d4;
  --app-background: #eae6df;
  --app-background-deeper: #d1d7db;


  --text: rgb(17, 27, 33);
  --text-placeholder: rgb(59, 74, 84);
  --text-button: rgb(84, 101, 111);

  --navbar-width: 64px;

  --background-default: white;

  --black-rgb: 11, 20, 26;
  --shadow-rgb: 11, 20, 26;

  --chat-meta: #667781;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--black-rgb), .2) transparent;
}

img {
  display: block;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol, li, p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-button,
.svg-icon-button {
  border: none;
  background: none;
  padding: 9px;
}

.svg-icon-button.active {
  border-radius: 50%;
  background-color: rgba(var(--shadow-rgb), 0.1);
}

